> # Dear Epsilon Students,
> # The More you practice The better You'll Be.

### Question classification:
- Green is level 1
- Orange is level 2
- Red is level 3

# <center> Let's start üí™ </center>

## <p style="color:green;">Q.01 Write a Python program to calculate the length of a string.</p>

In [28]:
# Answer here

txt = "Hello World"
print(f'The length of the txt string is: {len(txt)}')

The length of the txt string is: 11

## <p style="color:green;">Q.02 Given the string 'hello' give an index command that returns 'e'</p>

In [30]:
# Answer here

Str = 'hello'
Str[1]

'e'

## <p style="color:green;">Q.03 Reverse the string 'hello' using slicing</p>

In [31]:
# Answer here

Str = 'hello'
Str[::-1]

'olleh'

## <p style="color:red;">Q.04 Write a Python program to change a given string to a new string where the first and last chars have been exchanged.</p>

In [ ]:
# Answer here
s = 'hello world'

if len(s) < 2 :
    print(f'String length is less than 2: {s}')
else:
    s = s[-1] + s[1: len(s)- 1] + s[0]
    print(f'String after swapping first and last characters: {s}')

String after swapping first and last characters: dello worlh

## <p style="color:green;">Q.05 Reassign 'hello' in this nested list to say 'goodbye' instead</p>
> list3 = [1,2,[3,4,'hello']]

In [41]:
# Answer here
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'

print(f'List after modification : {list3}')

List after modification : [1, 2, [3, 4, 'goodbye']]

## <p style="color:green;">Q.06 Sort the list below</p>
> list4 = [5,3,4,6,1]

In [46]:
# Answer here
list4 = [5,3,4,6,1]
list4.sort()
print(f'Sorted list: {list4}')

Sorted list: [1, 3, 4, 5, 6]

## <p style="color:green;">Q.07 Write a Python program to sum all the items in a list.</p>

In [47]:
# Answer here
_list = [1,3,5,7,9]
print(f'The sum of the list elements is : {sum(_list)}')

The sum of the list elements is : 25

## <p style="color:green;">Q.08 Write a Python program to get the largest number from a list.</p>

In [48]:
# Answer here
_list = [1,3,5,7,9]
print(f'The maximum value in the list is : {max(_list)}')

The maximum value in the list is : 9

## <p style="color:green;">Q.09 Write a Python program to get the smallest number from a list.</p>

In [49]:
# Answer here
_list = [1,3,5,7,9]
print(f'The minimum value in the list is : {min(_list)}')

The minimum value in the list is : 1

## <p style="color:orange;">Q.10 Write a Python program to remove duplicates from a list.</p>

In [51]:
# Answer here
my_list = [1, 2, 2, 3, 4, 4, 5]
my_list = list(set(my_list))
print(f'List after removing duplicates: {my_list}')

List after removing duplicates: [1, 2, 3, 4, 5]

## <p style="color:green;">Q.11 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
>d = {'k1':{'k2':'hello'}}

In [55]:
# Answer here
d = {'k1':{'k2':'hello'}}
print(f'\'hello\' value from the dictionary : {d["k1"]["k2"]}')

'hello' value from the dictionary : hello

## <p style="color:orange;">Q.12 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
> d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [64]:
# Answer here
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
print(d['k1'])
print(d['k1'][0])
print(d['k1'][0]['nest_key'])
print(d['k1'][0]['nest_key'][1])
print(d['k1'][0]['nest_key'][1][0])

[{'nest_key': ['this is deep', ['hello']]}]
{'nest_key': ['this is deep', ['hello']]}
['this is deep', ['hello']]
['hello']
hello

## <p style="color:red;">Q.13 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [73]:
# Answer here
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'])
print(d['k1'][2])
print(d['k1'][2]['k2'])
print(d['k1'][2]['k2'][1])
print(d['k1'][2]['k2'][1]['tough'])
print(d['k1'][2]['k2'][1]['tough'][2])
print(d['k1'][2]['k2'][1]['tough'][2][0])

[1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]
{'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}
['this is tricky', {'tough': [1, 2, ['hello']]}]
{'tough': [1, 2, ['hello']]}
[1, 2, ['hello']]
['hello']
hello

## <p style="color:green;">Q.14 Write a Python script to add a key to a dictionary.</p>
> Sample Dictionary : {0: 10, 1: 20}

> Expected Result : {0: 10, 1: 20, 2: 30}

In [74]:
# Answer here
dict_result = {0: 10 , 1 : 20 }
dict_result[2] = 30
print(f'Dictionary after adding new key-value pair: {dict_result}')

Dictionary after adding new key-value pair: {0: 10, 1: 20, 2: 30}

## <p style="color:green;">Q.15 Write a Python program to sum all the items in a dictionary.</p>

In [76]:
# Answer here
dict_result
print(f'The sum of all the values in the dictionary is : {sum(dict_result.values())}')

The sum of all the values in the dictionary is : 60

## <p style="color:green;">Q.16 Write a Python program to add an item in a tuple.</p>

In [85]:
# Answer here
tuple_1 = (1,2,3,4)
new_item = (5,)
tuple_1 = tuple_1 + new_item
print(f'Tuple after adding new element: {tuple_1}')

Tuple after adding new element: (1, 2, 3, 4, 5)

## <p style="color:green;">Q.17 Write a Python program to convert a tuple to a string.</p>

In [91]:
# Answer here
tuple_2 = ('A' ,'p' ,'p' ,'l' ,'e')
to_str = ''.join(tuple_2)
print(f'String after converting from tuple: {to_str}')

String after converting from tuple: Apple

## <p style="color:green;">Q.18 Write a Python program to remove an item from a given set.</p>

In [95]:
# Answer here

_set = {1,2,3,4,5}
# _set.pop() 

_set.remove(4)
print(f'Set after removing element 4: {_set}')

Set after removing element 4: {1, 2, 3, 5}

## <p style="color:orange;">Q.19 Write a Python program to create an intersection of sets.</p>
> Explanation : In mathematics, the intersection of two sets A and B, denoted by A ‚à© B, is the set containing all elements of A that also belong to B (or equivalently, all elements of B that also belong to A).

In [103]:
# Answer here
set_A = {1,2,3,4,5}
set_B = {4,5,6,7,8}
intersection = set_B.intersection(set_A)
print(f'Intersection of set_A and set_B: {intersection}')

Intersection of set_A and set_B: {4, 5}

## <p style="color:orange;">Q.20 Write a Python program to create a union of sets.</p>
> Explanation :In mathematics, The union of two sets A and B is the set of elements which are in A, in B, or in both A and B.

In [104]:
# Answer here
set_A = {1,2,3,4,5}
set_B = {4,5,6,7,8}
union = set_A.union(set_B)
print(f'Union of set_A and set_B: {union}')

Union of set_A and set_B: {1, 2, 3, 4, 5, 6, 7, 8}

# For Loop

- Write a for loop that prints numbers from 0 to 5.

In [1]:
# Answer here
for i in range(6):
    print(i)

0
1
2
3
4
5

- Write a for loop that prints numbers from 1 to 10.

In [3]:
# Answer here
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

- Write a for loop that prints numbers from 1 to 20 with 3 steps (for ex 1, 4, 7, 10, .. etc).

In [5]:
# Answer here
for i in range(1 ,21 , 3):
        print(i)

1
4
7
10
13
16
19

- Write a for loop that prints numbers from 10 to -10 ( starting from 10 and ending at -10 )

In [7]:
# Answer here

for i in range(10, -11 ,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

- Write a for loop to iterate from 0 to 100 and print only even numbers

In [26]:
# Answer here
even_numbers = []
for i in range(101):
    if i % 2 == 0:
        even_numbers.append(i)

print(f'Even numbers from 0 to 100: {even_numbers}')

Even numbers from 0 to 100: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

- Write a for loop to iterate from 0 to 100 and print only odd numbers

In [27]:
# Answer here
odd_numbers = []
for i in range(101):
    if i % 2 != 0:
        odd_numbers.append(i)

print(f'Odd numbers from 0 to 100: {odd_numbers}')

Odd numbers from 0 to 100: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

- Write a for loop that prints numbers from 10 to -10 and break the loop when the number is negative

In [24]:
# Answer here
for i in range(10 , -11 , -1) :
    if i < 0 :
        break
    print(i)

10
9
8
7
6
5
4
3
2
1
0

- Write a for loop that prints numbers from 10 to -10 and skip the iteration where number is zero

In [20]:
# Answer here

for i in range(10 , -11 ,-1) :
    if i != 0:
        print(i)
    else :
        continue

10
9
8
7
6
5
4
3
2
1
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

- Write for loop to capitalize and print each character from the sentence `hello world`

In [14]:
# Answer here
sentence = 'hello wolrd'
for char in sentence:
    print(char.upper())

H
E
L
L
O

W
O
L
R
D

* Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [11]:
# Answer here

for i in range(7):
    if i == 3 or i == 6:
        continue
    print(i)

0
1
2
4
5

# <center> Thank's for your effort ‚ù§Ô∏è </center>