<a href="https://colab.research.google.com/github/taraneem/Python-Assignments/blob/main/Assignment_2_answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> # Dear Epsilon Students,
> # The More you practice The better You'll Be.

## **Problem 10: String Methods**
- Write a program that takes a string with variable name `s` and prints the string in uppercase

In [ ]:
s = 'c'

# Answer here
s.upper()

'C'

- Write a program that takes a string with variable name `s` and prints the string in lowercase

In [ ]:
s = 'HELLO WORLD'

# Answer here
s.lower()

'hello world'

- Write a program that takes a string with variable name `s` and make every word start with uppercase letter

In [ ]:
s = 'data analysis is the process of inspecting, cleansing, transforming, and modeling data with the goal of discovering useful information'

# Answer here
s.title()

'Data Analysis Is The Process Of Inspecting, Cleansing, Transforming, And Modeling Data With The Goal Of Discovering Useful Information'

## **Problem 11: String Methods**
- Write a Python program to check if all elements of a string are alphabetic (حروف أبجدية فقط).

In [ ]:
s1 = 'MyNameIsAli'
s2 = 'My Name IsAli'

# Answer here

if s1.isalpha():
    print("All characters in s1 are alphabetic")
else:
    print("s1 characters are non-alphabetic")

if s2.isalpha():
    print("All characters in s2 are alphabetic")
else:
    print("s2 characters are non-alphabetic")

All characters in s1 are alphabetic
s2 characters are non-alphabetic

- Write a Python program to check if all elements of a string are numbers.

In [ ]:
s1 = '123456789'
s2 = '125.5'

# Answer here

if s1.isdigit():
    print("All characters in s1 are digits")
else:
    print("s1 contains non-digit characters")

if s2.isdigit():
    print("All characters in s2 are digits")
else:
    print("s2 contains non-digit characters")

All characters in s1 are digits
s2 contains non-digit characters

## **Problem 12: String Methods**
- Write a Python program that counts how many times the letter `a` appears in a given sentence.

In [ ]:
s = 'Data Analysis with python'

# Answer here
print(f'The letter \'a\' appears : {s.count('a')}')

The letter 'a' appears : 3

## **Problem 13: String Methods**
- Write a Python program that prints the index of the letter `W` in a given string.

In [ ]:
s = 'Hello World'

# Answer here
s.index('W')

6

## **Problem 14: Replace Character in String**
- Having a string `s`, a character `old`, and a character `new`, and prints the string with old character replaced by new character.

In [ ]:
s = 'I love Analysis'
old = 'Analysis'
new = 'Machine Learning'

# Answer here
print(f'The old string is : {s} \nThe new string is : {s.replace(old,new)}')

The old string is : I love Analysis
The new string is : I love Machine Learning

## **Problem 15: Remove Whitespace**
- Write a program that takes a string with variable name s and prints the string with leading and trailing whitespace removed.

In [ ]:
s = '   Hello world       '

# Answer here
s.strip()

'Hello world'

## **Problem 16: Built in Functions**
- Write a program that check the data type of a given string `s`.

In [ ]:
s = 'Hello World'

# Answer here

print(f"The type of s is: {type(s)}")

The type of s is: <class 'str'>

- Write a program that check the data type of a given number.

In [ ]:
n = 10

# Answer here

print(f"The type of n is: {type(n)}")

The type of n is: <class 'int'>

- Write a program that check the data type of a given number.

In [ ]:
n = 1.5

# Answer here

print(f"The type of n is: {type(n)}")

The type of n is: <class 'float'>

## **Problem 17: Built in Functions**
- Write a program that counts how many elements in a given string `s`.

In [ ]:
s = 'Hello World'

# Answer here

print(f"The string s contains : {len(s)} elements")

The string s contains : 11 elements

## **Problem 18: Built in Functions**
- Write code that takes email and password from user and assign them to two variables

In [ ]:
# Answer here

user_name = input("Enter your E-mail : ")
password = int(input("Enter your password : "))

print(f'E-mail : {user_name}\t Password : {password}')

E-mail : mail@gmail.com	 Password : 15879

## **Problem 19: Built in Functions**
- Write a program that asks the user to enter their first and last name separately, then prints their full name on one line.

In [ ]:
# Answer here
first_name = input("Enter your first name : ")
last_name = input("Enter your last name : ")

print(f'Full name is : {first_name +' ' +  last_name}')

Full name is : tarnim medhat

## **Problem 20: IF Condition**
- Write a Python program that takes two numbers `a` and `b` and prints `a is greater than b` if a is greater and `b is greater than a` if b is greater

In [1]:
a = int (input("Enter number a : "))
b = int (input("Enter number b : "))

# Answer here
if a > b :
    print("a is greater than b")
else:
    print("b is greater than a")

Enter number a : 4
Enter number b : 12
b is greater than a

## **Problem 21: IF Condition**
- Write a Python program to print `Positive` if a given number is greater than 0, print `Negative` if a given number is lower than 0 and print `Zero` if equal 0

In [ ]:
n = int (input("Enter a number : "))

# Answer here

if n == 0:
    print("Zero")
elif n > 0 :
    print("Positive number")

else:
    print("Negative number")

Negative number

## **Problem 22: IF Condition**
- Write a Python program that prints `All Lowercase` if all elements of a string are lowercase
- prints `All Uppercase` if all elements of a string are uppercase

In [ ]:
s = input()

# Answer here

if s.islower():
    print("All Lowercase.")
elif s.isupper():
    print("All Uppercase.")
else:
    print("String contains both of Upper & Lower letters.")

All Uppercase.

## **Problem 23: IF Condition**
#### Write a program that takes a user's age as input and determines their life stage.
* Print "Child" if the age is less than 13,
* "Teen" if the age is between 13 and 19,
* "Young Adult" if the age is between 20 and 35,
* and "Adult" if the age is 36 or older.

In [ ]:
# Answer here

age = int (input("Enter your age : "))

if age < 13 :
    print("Child")
elif 13 <= age <= 19 :
    print("Teen")
elif 20 <= age <= 35 :
    print("Young Adult")

else :
    print("Adult")

Adult

# **List**

Create a list with more than 5 elements

In [ ]:
_list = [1, 2 , 'a' , True , 7 , 3.14 , 's']
_list

[1, 2, 'a', True, 7, 3.14, 's']

Find the length of your list

In [ ]:
print(f'The length of list is : {len(_list)}')

The length of list is : 7

Get the first element, the middle element and the last element of the list

In [ ]:
print(f'The first element is : {_list[0]} \nThe middle element is : {_list[len(_list)//2] } \nThe last element is : {_list[- 1]}')

The first element is : 1
The middle element is : True
The last element is : s

Create a list called mixed_data_types, put your(name, age, height, marital status, address) any imaginary data

In [ ]:
mixed_data_types = ['T.M', 22, 1.65, 'Single', 'Cairo, Egypt']

mixed_data_types

['T.M', 22, 1.65, 'Single', 'Cairo, Egypt']

Create a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [ ]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

Print the number of companies in the list

In [ ]:
print(f'The number of companies is : {len(it_companies)}')

The number of companies is : 7

Print the first, middle and last company

In [ ]:
print(f'The first company is : {it_companies[0]} \nThe middle company is : {it_companies[len(_list)//2] } \nThe last company is : {it_companies[- 1]}')

The first company is : Facebook
The middle company is : Apple
The last company is : Amazon

Print the list after modifying one of the companies

In [ ]:
it_companies[5] = "Twitter"

print("Updated list:", it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Twitter', 'Amazon']

Add an IT company to it_companies

In [ ]:
it_companies.append("Instagram")
it_companies

['Facebook',
 'Google',
 'Microsoft',
 'Apple',
 'IBM',
 'Twitter',
 'Amazon',
 'Instagram']

Insert an IT company in the middle of the companies list

In [ ]:
'''
middle_index = it_companies[len(it_companies) // 2]

it_companies.insert(it_companies.index(middle_index) , 'Visa')  # problem if the middle element exists more than 1 index() returns the first.

print("Updated list:", it_companies)
'''

middle_index = len(it_companies) // 2
it_companies.insert(middle_index , 'Visa')
print("Updated list:", it_companies)

Updated list: ['Facebook', 'Google', 'Microsoft', 'Apple', 'Visa', 'IBM', 'Twitter', 'Amazon', 'Instagram']

Change one of the it_companies names to uppercase (IBM excluded!)

In [ ]:
it_companies[6] = it_companies[6].upper()

it_companies

['Facebook',
 'Google',
 'Microsoft',
 'Apple',
 'Visa',
 'IBM',
 'TWITTER',
 'Amazon',
 'Instagram']

Sort the list in ascending order

In [ ]:
it_companies.sort()

print(f'List after sorting in ascending order : {it_companies}')

List after sorting in ascending order : ['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Instagram', 'Microsoft', 'TWITTER', 'Visa']

Sort the list in descending order

In [ ]:
it_companies.sort(reverse=True)
print(f'List after sorting in descending order : {it_companies}')

List after sorting in descending order : ['Visa', 'TWITTER', 'Microsoft', 'Instagram', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

print a list of the first 3 companies from the list

In [ ]:
it_companies[0:3]

['Visa', 'TWITTER', 'Microsoft']

print a list of the last 3 companies from the list

In [ ]:
it_companies[-3:]

['Facebook', 'Apple', 'Amazon']

print the middle IT company or companies from the list

In [ ]:
it_companies.append("Notion")

n = len(it_companies)

if n % 2 == 0:
    middle_companies = it_companies[n//2 - 1 : n//2 + 1]
    print(f"The middle IT companies are: {middle_companies}")
else:

    print(f"The middle IT company is: {it_companies[n//2]}")

it_companies

The middle IT companies are: ['IBM', 'Google']

['Visa',
 'TWITTER',
 'Microsoft',
 'Instagram',
 'IBM',
 'Google',
 'Facebook',
 'Apple',
 'Amazon',
 'Notion']

Remove the first IT company from the list

In [ ]:
it_companies.pop(0)

it_companies # Visa removed

['TWITTER',
 'Microsoft',
 'Instagram',
 'IBM',
 'Google',
 'Facebook',
 'Apple',
 'Amazon',
 'Notion']

Remove the middle IT company or companies from the list

In [ ]:
length = len(it_companies)

if length % 2 == 0 :
    it_companies.pop(length // 2)
    it_companies.pop(length // 2 - 1)
    print("The list after remove the mid companies : ", it_companies)
else:
    it_companies.pop(length // 2)
    print(f'The list after remove the mid company : {it_companies}')

The list after remove the mid company : ['TWITTER', 'Microsoft', 'Instagram', 'IBM', 'Facebook', 'Apple', 'Amazon', 'Notion']

Remove the last IT company from the list

In [ ]:
it_companies.pop(-1)

'Notion'

Remove all IT companies from the list

In [ ]:
it_companies.clear()
it_companies

[]

 Join the following lists:

    front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
    back_end = ['Node','Express', 'MongoDB']

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

front_end.extend(back_end)

front_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

After joining the lists in the pervious question . Copy the joined list and assign it to a variable full_stack. Then insert `Python` and `SQL` after `Redux`.

In [ ]:

full_stack = front_end.copy()
full_stack

redux_index = full_stack.index('Redux')

full_stack.insert(redux_index + 1 , 'Python')

full_stack.insert(redux_index  + 2 , 'SQL')


print(f'Full-stack list after been modified : {full_stack}')

Full-stack list after been modified : ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

Create a list name countries ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark'].
Extract the last 3 countries and name it as scandic countries.

In [ ]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

scandic_countries = countries[-3:]

scandic_countries

['Sweden', 'Norway', 'Denmark']

# <center> Thank you for your effort ❤️ </center>